.heading {
  color: blue;
  font-family: fantasy;
  font-size:12px;
  text-align: center;
}
@media (min-width:500px){
  .heading {
    color: blue;
    font-family:breeserif;
    font-size: 22px;
    text-align: center;
  }
}
.Container{
  border:1px solid gray;
  width:220px;
  height: 24px;
  display:flex;
  align-items:center;
  border-radius:4px;
  margin-right:auto;
  margin-left:auto;
  margin-top:10px;
  margin-bottom:10px;
  justify-content:space-between;
}
@media (min-width:500px){
  .Container{
    border:1px solid gray;
    width:420px;
    height: 24px;
    display:flex;
    align-items:center;
    border-radius:4px;
    margin-right:auto;
    margin-left:auto;
    margin-top:10px;
    justify-content:space-between;
  }
}

.TodoHeading{
  font-family:breeserif;
  font-size: 10px;
  text-align: center;
  margin-left:30px;
}
@media (min-width:500px){
  .TodoHeading{
    font-family:breeserif;
    font-style:italic;
    font-size: 12px;
    text-align: center;
    margin-left:30px;
  }
}
.container {
  display: flex;
  justify-content: center;
}

.input {
  height: 20px;
  width: 220px;
  margin-left:88px;
  border: 1px solid lightblue;
  margin-right: 10px;
  margin-bottom:10px;
  padding-left:10px;
  font-style:italic;
}
@media (min-width:500px){
  .input {
    height: 24px;
    width: 420px;
    
  }
} 
.input1 {
  height: 24px;
  width: 420px;
  margin-left:50px;
  border: 1px solid lightblue;
  margin-right: 10px;
  margin-bottom:10px;
  
}
@media (min-width:500px){
  .input1 {
    height: 24px;
    width: 420px;
  }  
}
.button {
  background-color: blue;
  height: 24px;
  width: 40px;
  border: none;
  color: white;
  font-size: 10px;
  border-radius: 06px;
}
@media (min-width:500px){
  .button{
    height: 28px;
    width: 80px;
    font-size: 14px;
  }
}  
.button1 {
  background-color:yellow;
  height: 20px;
  width: 50px;
  border: none;
  color: black;
  font-size: 10px;
  border-radius: 06px;
}
.Tharun{
  color:red;
  margin-left:6px;
}
.InsideContainer{
  display:flex;
  align-items:center;
  margin-right:10px;
}
.button2{
  background-color:orange;
  height: 25px;
  width: 40px;
  border: none;
  color: white;
  font-size: 10px;
  border-radius: 06px;
}
@media (min-width:500px){
  .button2{
    height: 28px;
    width: 80px;
    font-size: 14px;
  }
}